Update HTML files to include self-hosted fonts

Fonts for the HTML format had been imported from fonts.googleapis.com. Readers started noticing that bold text was no longer bold when reading the RFCs in the Chrome browser ([issue filed](https://issues.chromium.org/issues/447361040), closed as wontfix). See, for example, [Section 1.1 of RFC 9865](https://www.rfc-editor.org/rfc/rfc9865.html#name-notational-conventions).

 xml2rfc was updated to point to fonts that the Tools Team is now hosting themselves (static.ietf.org) (See [issue #1281](https://github.com/ietf-tools/xml2rfc/issues/1281)). For an example of how self-hosted fonts look, please see [Section 1.1 of RFC 9873](https://www.rfc-editor.org/rfc/rfc9873.html#name-conventions-used-in-this-do).

After IETF 124, the RPC will be working with the Tools Team to update the URLs in existing HTML files of RFCs to point to fonts at static.ietf.org. This will be a surgical edit to the HTML files rather than a rerendering.

New estimate for completion - before IETF 125.

New estimate for completion is TBD

Need to provide access to the files that have been replaced per https://www.rfc-editor.org/info/rfc9720/#section-4